<h1>
  <span class="fa-sm">
    <span class="fa-layers fa-fw">
      <i class="fas fa-fire" style="color: crimson"></i>
      <i
        class="fa-inverse fas fa-fire"
        data-fa-transform="shrink-5"
        style="color: lightSalmon"
      ></i>
    </span>
  </span>
  <%= title %>
</h1>

<hr/>

<p>
Computer programming probably the thing that I currently love the
most. It's like the only thing that I can control. A piece of code
is written and there they are the output.
<code>console.log('Hi!');</code>
and it will print <b>"Hi!"</b>.
</p>

<hr/>

<style>
.links, .links a {
  margin: 4px;
}
</style>
<div class="links">
  <a
    style="color: #23292E"
    target="_blank"
    href="https://github.com/yuulye/site"
  ><i class="fab fa-github"></i>GitHub</a>
  &middot;
  <a
    style="color: #2A5EE8"
    target="_blank"
    href="https://discord.gg/j63jwjR"
  ><i class="fab fa-discord"></i>Discord</a>
  &middot;
  <a
    style="color: #009CF3"
    target="_blank"
    href="https://twitter.com/lyeyuu"
  ><i class="fab fa-twitter"></i>Twitter</a>
  &middot;
  <a
    style="color: #003C56"
    target="_blank"
    href="https://yuulye.wordpress.com/"
  ><i class="fab fa-wordpress"></i>WordPress</a>
</div>
