<h1>
  <i class="fas fa-cat"></i>
  <%= title %>
</h1>

<hr/>

<p>Welcome!</p>
<div>
  <a href="/simple-mmo">SimpleMMO</a>
</div>

<hr/>

<style>
.links a {
  margin: 2px;
}
</style>
<div class="links">
  <a
    style="color: #23292E"
    target="_blank"
    href="https://github.com/yuulye/site"
  ><i class="fab fa-github"></i>GitHub</a>
  &middot;
  <a
    style="color: #2A5EE8"
    target="_blank"
    href="https://discord.gg/j63jwjR"
  ><i class="fab fa-discord"></i>Discord</a>
  &middot;
  <a
    style="color: #009CF3"
    target="_blank"
    href="https://twitter.com/lyeyuu"
  ><i class="fab fa-twitter"></i>Twitter</a>
  &middot;
  <a
    style="color: #003C56"
    target="_blank"
    href="https://yuulye.wordpress.com/"
  ><i class="fab fa-wordpress"></i>WordPress</a>
</div>
