<h1
  class="row"
  style="background: #555"
>
  <div class="col-6 col-xs-6">
    <span class="fa-sm">
      <span class="fa-layers fa-fw">
        <i class="fas fa-fire" style="color: crimson"></i>
        <i
          class="fa-inverse fas fa-fire"
          data-fa-transform="shrink-5"
          style="color: lightSalmon"
        ></i>
      </span>
    </span>
  </div>
  <div
    class="col-6 col-xs-6 number"
    style="font-size: .525em;color: white;"
  >
    <%= title %>
  </div>
</h1>

<style>
</style>

<div class="content">
  <p>
    The thing that I currently love
    most is <u>probably</u> <b>computer-programming</b>.
    It's like the only thing that I can control. A piece of
    <em>code</em>
    is written and there they are the output!
    <q>no more no less.</q>
  </p>

  <div class="monitor">
    <div class="row">
      <div class="col-6">
        <script
          src="https://gist.github.com/yuulye/cc526a1fe9a5d9eab7f9442ebcd17eef.js"
        ></script>
      </div>
      <div class="col-6">
        <div class="terminal">
<pre><span style="color: blue"
>edith</span>@<span style="color: green"
>archLinux</span>:<span style="color: red"
>~</span>$ node log.js
Hi!
</pre>
        </div>
      </div>
    </div>
  </div>

</div>


<hr/>

<style>
.links, .links a {
  margin: 4px;
}
</style>
<div class="links">
  <a
    style="color: #23292E"
    target="_blank"
    href="https://github.com/yuulye/site"
  ><i class="fab fa-github"></i>GitHub</a>
  &middot;
  <a
    style="color: #2A5EE8"
    target="_blank"
    href="https://discord.gg/j63jwjR"
  ><i class="fab fa-discord"></i>Discord</a>
  &middot;
  <a
    style="color: #009CF3"
    target="_blank"
    href="https://twitter.com/lyeyuu"
  ><i class="fab fa-twitter"></i>Twitter</a>
  &middot;
  <a
    style="color: #003C56"
    target="_blank"
    href="https://yuulye.wordpress.com/"
  ><i class="fab fa-wordpress"></i>WordPress</a>
</div>
