<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="#">
    <title><%= title %></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="/font-awesome-4.7.0/css/font-awesome.min.css"
    />
<style>
html {
  font-size: 12px;
}
body {
  margin: 2px;
}
hr {
  margin-block-start: 2px;
  margin-block-end: 2px;
}
.number {
  font-family: monospace;
  text-align: right;
  font-size: 10px;
}
</style>
  </head>
  <body>
    <%- body %>
  </body>
</html>
