body {
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 300;

  word-spacing: .1715em;
  line-height: 1.5em;

  background: #F7F7F7;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2px;
}

p {
  margin: 16px;
}

code, pre, .number {
  font-family: 'Source Code Pro', 'Ubuntu Mono', monospace;
  font-weight: normal;
  color: #999;
}

.number {
  text-align: right;
}

hr {
  margin-block-start: 8px;
  margin-block-end: 8px;
  border-color: rgba(0, 0, 0, .07);
}
