* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, 'Sans Serif';
  font-size: 14px;
  font-weight: 300;

  word-spacing: .1715em;
  line-height: 1.5em;

  background: #F7F7F7;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 4px;
}

.content {
  margin: 16px;
}

code, pre, .number {
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  font-weight: normal;
  color: #555;
  word-spacing: 0px;
}

pre {
  margin: 0px;
}

.number {
  text-align: right;
}

hr {
  margin-block-start: 8px;
  margin-block-end: 8px;
  border-color: rgba(0, 0, 0, .07);
}

q {
  quotes: "“" "”" "‘" "’";
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}

.monitor {
  background: #f3f3f3;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, .3);
}

.terminal {
  background: #fafafa;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 0px rgba(50, 50, 50, 0.75);
  padding: 4px;
}
